absl-py==1.0.0
actionlib==1.13.2
aiohttp==3.8.1
aiosignal==1.2.0
angles==1.9.13
anyio==3.6.1
appdirs==1.4.4
argon2-cffi-bindings==21.2.0
argon2-cffi==21.3.0
asgiref==3.4.1
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
audioread==2.1.9
babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==5.0.0
bondpy==1.8.6
bs4==0.0.1
camera-calibration-parsers==1.12.0
camera-calibration==1.16.0
castepxbin==0.1.0
catkin==0.8.10
cbor==1.0.0
certifi==2022.5.18.1
cffi==1.15.0
charset-normalizer==2.0.9
click==8.1.2
cloudpickle==2.0.0
controller-manager-msgs==0.19.5
controller-manager==0.19.5
curve25519-donna==1.3
cv-bridge==1.16.0
cycler==0.11.0
cython==0.29.24
datasets==2.1.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dill==0.3.4
django-cors-headers==3.10.0
django==3.2.9
docker-pycreds==0.4.0
donna25519==0.1.1
dynamic-reconfigure==1.7.2
easyocr==1.4.1
entrypoints==0.4
evdev==1.4.0
executing==0.8.3
fasteners==0.16.3
fastjsonschema==2.15.3
ffmpeg-python==0.2.0
filelock==3.6.0
fonttools==4.25.0
frida-tools==10.6.1
frida==15.1.22
frozenlist==1.3.0
fsspec==2022.3.0
future==0.18.2
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
gitdb==4.0.9
gitpython==3.1.27
glfw==2.1.0
google-api-core==2.7.2
google-api-python-client==2.46.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-auth==2.3.3
googleapis-common-protos==1.56.0
grpcio==1.43.0
gym==0.21.0
h5py==3.6.0
h8mail==2.5.5
httplib2==0.20.4
huggingface-hub==0.5.1
idna==3.3
image-geometry==1.16.0
image==1.5.33
imageio==2.9.0
importlib-metadata==4.10.0
importlib-resources==5.7.1
interactive-markers==1.12.0
ipykernel==6.13.0
ipython-genutils==0.2.0
ipython==8.3.0
ipywidgets==7.7.0
jedi==0.18.1
jinja2==3.1.2
jiwer==2.3.0
joblib==1.1.0
joint-state-publisher-gui==1.15.1
joint-state-publisher==1.15.1
json5==0.9.8
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyter-server==1.17.1
jupyter==1.0.0
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
jupyterlab==3.4.3
jupyterthemes==0.20.0
keyboard==0.13.5
kiwisolver==1.4.2
kyros==1.0.2
laser-geometry==1.6.7
lesscpy==0.15.0
librosa==0.9.1
libtorrent==2.0.5
llvmlite==0.38.0
lxml==4.6.3
markdown==3.3.6
markupsafe==2.1.1
matplotlib-inline==0.1.3
matplotlib==3.4.2
message-filters==1.15.14
mistune==0.8.4
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
monty==2021.12.1
mpmath==1.2.1
mujoco-py==2.1.2.14
multidict==6.0.2
multiprocess==0.70.12.2
munkres==1.1.4
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.6.3
notebook-shim==0.1.0
notebook==6.4.11
numba==0.55.1
numpy==1.21.4
olefile==0.46
opencv-python-headless==4.5.4.58
opencv-python==4.5.3.56
packaging==21.3
palettable==3.3.0
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
pexpect==4.8.0
phonopy==2.12.0
pickleshare==0.7.5
pillow==8.2.0
pip==21.2.4
plotly==5.4.0
ply==3.11
pooch==1.6.0
prometheus-client==0.14.1
promise==2.3
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==8.0.0
pycparser==2.21
pycryptodome==3.14.1
pyglet==1.5.21
pygments==2.12.0
pymatgen==2022.0.16
pynput==1.7.4
pyparsing==3.0.4
pypdf2==1.26.0
pypdf==1.13
pyrsistent==0.18.1
pyserial==3.5
pysocks==1.7.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==0.8.11
python-levenshtein==0.12.2
python-qt-binding==0.4.4
python-xlib==0.31
pytz==2021.3
pywavelets==1.1.1
pyyaml==6.0
pyzmq==22.3.0
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
qtconsole==5.3.0
qtpy==2.1.0
regex==2022.4.24
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests==2.26.0
resampy==0.2.2
resource-retriever==1.12.7
responses==0.18.0
rosbag==1.15.14
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.15.14
roslaunch==1.15.14
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.14
rosmake==1.15.8
rosmaster==1.15.14
rosmsg==1.15.14
rosnode==1.15.14
rosparam==1.15.14
rospy==1.15.14
rosservice==1.15.14
rostest==1.15.14
rostopic==1.15.14
rosunit==1.15.8
roswtf==1.15.14
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui-py==0.5.3
rqt-gui==0.5.3
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.14
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.3
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
ruamel.yaml.clib==0.2.6
ruamel.yaml==0.17.17
rviz==1.14.14
sacremoses==0.0.49
scikit-image==0.18.3
scikit-learn==1.0.2
scipy==1.7.1
scrap-engine==1.2.0
seekpath==2.0.1
send2trash==1.8.0
sensor-msgs==1.13.1
sentry-sdk==1.6.0
setproctitle==1.2.3
setuptools==61.2.0
shortuuid==1.0.9
simplewebsocketserver==0.1.1
sip==4.19.13
six==1.16.0
smach-ros==2.5.0
smach==2.5.0
smclib==1.8.6
smmap==5.0.0
sniffio==1.2.0
soundfile==0.10.3.post1
soupsieve==2.2.1
spglib==1.16.2
sqlparse==0.4.2
stack-data==0.2.0
stem==1.8.0
sumo-rl==1.1
sumo==2.2.5
sympy==1.9
tabulate==0.8.9
tenacity==8.0.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboard==2.7.0
tensorboardx==2.4.1
terminado==0.13.3
testpath==0.5.0
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
tf==1.13.2
threadpoolctl==3.1.0
tifffile==2021.11.2
tinycss2==1.1.1
tk==0.1.0
tokenizers==0.12.1
topic-tools==1.15.14
torch==1.9.0
torchaudio==0.9.0a0+33b2469
torchvision==0.10.0
tornado==6.1
torrequest==0.1.0
tqdm==4.64.0
traitlets==5.1.1
transformers==4.20.1
typing-extensions==4.1.1
uncertainties==3.1.6
uritemplate==4.1.1
urllib3==1.26.7
video-to-ascii==1.3.0
wandb==0.12.19
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
websockets==10.3
werkzeug==2.0.2
wheel==0.37.1
widgetsnbextension==3.6.0
xacro==1.14.13
xlib==0.21
xtermcolor==1.3
xxhash==3.0.0
yarl==1.7.2
zipp==3.6.0